:root {
  --primary: #00b8d4;
  --secondary: #00acc1;
  --background: #0091ea;
}

* {
  margin: 0;
  padding: 0;
}

.app {
  font-family: 'Brixton', Arial, Helvetica, sans-serif;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
  align-items: center;
}

h2 {
  font-size: 5rem;
  color: #fafafa;
}